<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%# #.html_safe is how we specifiy that the html we input is safe to output to the screen  %>
  <%= @tweet.message.html_safe %>
</p>

<p>
  <strong>User:</strong>
  @<%= @tweet.user.username %>
</p>

<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
